--- 
max_persistent_conns: 100
environment: production
log: log/thin.log
max_conns: 1024
address: 0.0.0.0
pid: tmp/pids/thin.pid
chdir: /home/bus/lib/agere
wait: 30
timeout: 30
require: []
port: 4567
threaded: true
daemonize: true
servers: 1
rackup: config.ru
tag: agere
