before '/s/*' do
	authenticate!
end

before '/h/*' do
	authenticate!
end

post '/s/lock' do
	system 'xdg-screensaver reset'
	system 'xdg-screensaver lock'
	system 'xset dpms force off'
	"OK\n"
end

post '/s/mute' do
	system 'amixer -q set Master mute'
	"OK\n"
end

post '/g/party-checkin' do
	# ...
end

post '/g/kids-home' do
	# ...
end

post '/h/lights-off' do
	# ...
end

post '/h/lights-on' do
	# ...
end

get '/h/temperature' do
	# ...
end
